<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<form  action="/album" method="post">
    <div class="form-group" >
        <label for="title">Album Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Enter Album Title">
    </div>

    <div class="form-group">
        <label for="artist">Album Artist </label>
        <input type="text" class="form-control" id="artist" name="artist"  placeholder="Enter Album Artist">
    </div>


    <div class="form-group">
        <label for="songsCount">Album Songs Count</label>
        <input type="number" class="form-control" id="songsCount" name="songsCount" placeholder="Enter Songs Count">
    </div>

    <div class="form-group">
        <label for="length">Album Total Songs length</label>
        <input type="number" class="form-control" id="length" name="length" placeholder="Enter Total Songs length in Seconds">
    </div>

    <div class="form-group">
        <label for="imageUrl">Album Image Url</label>
        <input type="text" class="form-control" id="imageUrl" name="imageUrl" placeholder="Enter Image Url">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


</body>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</html>